html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Sevillana&display=swap");
body {
  background-color: linear-gradient(#50c7c7, #1611b8);
}

main {
  background-image: url("https://img.freepik.com/premium-photo/3d-cartoon-mother-daughter-hugging-each-others-mothers-day_1052748-906.jpg?w=740");
  background-size: cover;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: italic;
  color: #11b8af;
  font-size: 46px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

li {
  font-family: Sevillana;
  padding: 5px;
  color: #1611b8;
}
footer {
  background-color: #0077b6;
  color: white;
  padding: 20px;
  text-align: center;
}
