@import url("https://fonts.googleapis.com/css2?family=Sevillana&display=swap");

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
}

body {
  background-color: #11b8af;
}
main {
  background-image: url("https://img.freepik.com/premium-photo/3d-cartoon-mother-daughter-hugging-each-others-mothers-day_1052748-906.jpg?w=740");
  background-size: cover;
  background-color: #11b8af;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Sevillana";
  color: #11b8af;
  font-size: 46px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}
.love-letter {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 2.5rem;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

li {
  list-style-type: none;
  font-family: Sevillana;
  padding: 5px;
  color: #1611b8;
}
.money {
  width: 200px;
  border: 3px black solid;
  border-radius: 3fr;
}
footer {
  background-color: #0077b6;
  color: white;
  padding: 20px;
  text-align: center;
}
